html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #111111;
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  overflow: hidden;

  /* Center contents (children) vertically & horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
}